doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='javascripts/resources/phaser.min.js', type='text/javascript')
    script(src='javascripts/boot.js', type='text/javascript')
    script(src='javascripts/load.js', type='text/javascript')
    script(src='javascripts/menu.js', type='text/javascript')
    script(src='javascripts/play.js', type='text/javascript')
    script(src='javascripts/win.js', type='text/javascript')
    block content
    script(src='javascripts/game.js', type='text/javascript')
